**/bin
**/debug
/ShopsAggregator/ShopsAggregatorServer/ShopsAggregatorWebApi/appsettings.json/
/ShopsAggregator/ShopsAggregatorServer/ShopsAggregatorWebApi/appsettings.Development.json/
/ShopsAggregator/ShopsAggregatorServer/images
*.docx
*.zip
